/* trying out flexbox! and, it's awesome! */

html, body {
  height: 100%;
  font-family: 'Cousine', arial;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.content {
  padding: 15px;
  width: 500px;
}

.content h1 {
  text-align: center;
}

.content p {
  line-height: 2;
  text-align: center;
}

.content p a {
  text-decoration: underline;
}

.follow {
  display: flex;
  margin: 0;
  padding: 0;
}

.follow li {
  min-width: 60px;
  height: 30px;
  margin: auto;
  list-style-type: none;
}

.follow li a {
  cursor: pointer;
  border-bottom: 1px solid #000000;
  transition: 0.3s all;
}

.twitter:hover {
  color: #1da1f2;
  border-bottom: 1px solid #1da1f2;
}

.github:hover {
  color: #000000;
  border-bottom: 1px solid #000000;
}

.instagram:hover {
  color: #7f39b0;
  border-bottom: 1px solid #7f39b0;
}

.linkedin:hover {
  color: #007bb6;
  border-bottom: 1px solid #007bb6;
}