@font-face {
	font-family: "Pier Sans";
	src: url(fonts/pier-regular.otf);
}


$white:#fff;

body{
	background-color:black;
	color: $white;
	text-align: center;
	font-family: "Pier Sans"
;}

header {
	ul {
		margin: 0;
		padding: 0;		
		li {
			list-style-type: none;
			display: inline-block;
			padding: 20px 20px;
			a {
				color: $white;
				&:hover {
				 border-bottom:2px solid #eee;
				  transition:0.9s ease;

				}
			}
		}
	}
}

.image{
	width: 600px;
	height: 300px;
	margin:auto;
}

#motion {
	animation: bobble 2s infinite;

}

@keyframes bobble {
	0% {
		transform: translate3d(25px,40px,0px);
		animating-timing-function:ease-in;
	}
	50% {
		transform: translate3d(25px,50px,0px);
		animating-timing-function:ease-out;
	}
	70% {
		transform: translate3d(25px,30px,0px);
		animating-timing-function:ease-out;
	}		
	100% {
		transform:translate3d(25px,40px,0px);
	}
}


section {
	img {
		width: 200px;
		height: 250px;
		border-radius: 50%;
	}
}

footer {
	margin-top:50px;
	ul {
		margin: 0;
		padding: 0;		
		li {
			list-style-type: none;
			display: inline-block;
			padding: 20px 20px;
			a {
				color: $white;
				&:hover {
					 border-bottom:2px solid #eee;
					  transition:0.9s ease;

				}
			}
		}
	}
}